.slider {
  position: relative;
  width: 200px;
}

.track-slider,
.range-slider,
.slider-left-val,
.slider-right-value {
  position: absolute;
}

.track-slider,
.range-slider {
  border-radius: 3px;
  height: 5px;
}

.track-slider {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.range-slider {
  z-index: 2;
}

.slider-left-value {
  left: 6px;
}

.slider-right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
